@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 36px 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 12px 0;
    padding: 6px 26px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

.header, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 96px 28rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 24px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 144px;
}

.img-placeholder {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 480px;
    background-color: gray;
}

.info {
    padding: 0 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    height: 160px;
    width: 160px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 6px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.card {
    max-width: 160px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 96px 0;
    padding: 96px 35rem;
    font-style: italic;
}

.quote-section footer {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    font-style: normal;
}

.quote-section footer cite {
    font-style: normal;
}

.cta-box {
    display: flex;
    margin: 96px 28rem;
    background-color: #3882f6;
}

.cta-text {
    display: flex;
    color: #E5E7EB;
}

.cta-text h2 {
    color: #E5E7EB;
}

.cta-button {
    border: 2px solid #E5E7EB;
}