@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-weight: 400;
}

body {
    display: flex;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    flex: auto;
    padding: 24px 128px;
}

.header h1 {
    font-size: 24px;
    font-weight: 900;
}