@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 96px 24rem;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: auto;
    padding-top: 12px;
    padding-bottom: 24px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.img-placeholder {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: gray;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    display: flex;
}